<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href="/css/styles.css">
        <title>

        </title>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>This application is developed and maintained by abhishek chaudhary. <b> 
            By using weather stack api and mapbox api.
        </p>
        <img src="/img/AKPRO2.png" alt="abhi">
        <p>{{name}}</p>
        {{>footer}}
    </body>
</html>