<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href="/web-server/public/css/styles.css">
        <title>

        </title>
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <img src="/img/AKPRO2.png" alt="abhi">
        <p>{{name}}</p>
        {{>footer}}
    </body>
</html>